@import "./Topbar.scss";
@import "./Sidebar.scss";

.page-control {
  text-align: left !important;
  padding-top: -20px !important;

  .i-dashboard-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;

    .i-dashboard-content {
        -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
      }
  }
}
